body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.excel-container {
    width: var(--excel-width, 100%);
    height: var(--excel-height, 50%);
    margin-bottom: 20px;
}

#excel-iframe {
    width: 100%;
    height: 100%;
}

.domino-set, .number-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.domino, .number {
    font-size: 2rem;
    margin: 10px;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}

.domino {
    background-color: #fff;
}

.number {
    background-color: #d3d3d3;
}

.domino:nth-child(1),
.domino:nth-child(8),
.domino:nth-child(14),
.domino:nth-child(19),
.domino:nth-child(23),
.domino:nth-child(26),
.domino:nth-child(28) {
    background-color: #ffcccb; /* Color diferente para los dobles */
}

.confirmation {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s;
}
